# Archivos y directorios generados por Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Archivos de configuración del IDE
/.idea/
/*.iml
/.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de configuración locales
*.properties
*.env

# Archivos de compilación
*.class

# Archivos temporales
*.tmp
*.bak
*.swp
*.swo

# Archivos relacionados con JavaFX
*.fxml

# Claves API o credenciales sensibles
*.key
*.pem
*.crt