#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
}

.image-container img {
  width: 100%; 
  height: 250px; 
  object-fit: cover; 
}

.ListsContainer {
  display: flex;
  gap: 250px
}

.readings-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
}

.readings-container img {
  flex: 1;
  width: 100%; 
  height: 250px; 
  object-fit: cover; 
}

